#忽略的文件夹
__pycache__/
run/
run_*/

#忽略的文件
*.pt
*.pth
*.png
*.dict
*.tar
*.dll
*.onnx

#其它忽略方式参考yolo

_01_image_classification/test/MNIST/raw/t10k-images-idx3-ubyte
_01_image_classification/test/MNIST/raw/t10k-images-idx3-ubyte.gz
_01_image_classification/test/MNIST/raw/t10k-labels-idx1-ubyte
_01_image_classification/test/MNIST/raw/t10k-labels-idx1-ubyte.gz
_01_image_classification/test/MNIST/raw/train-images-idx3-ubyte
_01_image_classification/test/MNIST/raw/train-images-idx3-ubyte.gz
_01_image_classification/test/MNIST/raw/train-labels-idx1-ubyte
_01_image_classification/test/MNIST/raw/train-labels-idx1-ubyte.gz
